body {
  margin-top: 68px;
}

/* Styling the vertical scrollbar*/
body::-webkit-scrollbar {
  /* rem is based on the base font-size of the html document,
    which by default is 16px */
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.header,
.footer {
  background-color: #828282;
  text-transform: uppercase;
  color: #fff;
  /* Top-bottom, right-left */
  margin: 1rem 0;
  /* Top-right-bottom-left */
  padding: 0.5rem;
  /* Top right-left bottom */
  /*padding: 0.5rem 0 0;*/
  border: 0.0625rem solid #000;
  border-left: 0;
  border-right: 0;
  /* Top, right, bottom, left */
  border-radius: 0.25rem 0 0 0.25rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header nav {
  display: inline;
  float: right;
  margin-right: 1rem;
}

.header nav ul {
  list-style-type: none;
  display: inline;
}

.header nav ul li {
  display: inline;
  margin-right: 0.5rem;
}

.header nav ul li:last-of-type {
  margin-right: 1rem;
}

.action-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* Styling hover events */
.action-link:hover {
  color: #000;
  background-color: #fff;
}

/* Styling all p elements with class="para-in-odd",
  within the id*/
#section-one p.para-in-odd {
  color: green;
}

/* Styling all elements with class="para-highlighted",
  as well as with class="para-in-odd" */
#section-one .para-in-odd.para-highlighted {
  background-color: yellow;
}

/* Styling all elements with class="para-highlighted",
  as well as with class="para-in-even" */
#section-one .para-even.para-highlighted {
  background-color: grey;
}

#section-one p:nth-of-type(even) {
  color: red;
}

/* To explicitly begin with */
/*#section-one p[class^="para-"] {
  font-weight: bold;
}*/

/* To include */
#section-one p[class*="-even"] {
  font-weight: bold;
}

/* To explicitly end with */
/*#section-one p[class$="-even"] {
  font-weight: bold;
}*/

/* Select all span tags within the id,
  regardless of their heirarchy */
#section-one span {
  text-decoration: underline;
}

/* Select span tags which come after the first span tag,
  regardless of their heirarchy */
#section-one span + span {
  background-color: blue;
}

/* Select span tags which are direct children of parent */
#section-one > span {
  text-transform: capitalize;
}

/* Select span tags which come after the first span tag,
  which is the direct children of parent */
#section-one > span + span {
  background-color: green;
}

/* Select div tags which come after the first span tag,
  which is the direct children of parent */
#section-one > span + div {
  background-color: red;
}

#section-one .universal-list ul li:hover {
  background-color: #000;
  color: #fff;
}

.about-me-img {
  display: block;
  margin-top: 1rem;
  width: 50%;
}

.footer {
  /* this is for sticky footer */
  top: unset;
  bottom: 0;
}
