body {
  margin-top: 68px;
}

/* Styling the vertical scrollbar*/
body::-webkit-scrollbar {
  /* rem is based on the base font-size of the html document,
    which by default is 16px */
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.header,
.footer {
  background-color: #828282;
  text-transform: uppercase;
  color: #fff;
  /* Top-bottom, right-left */
  margin: 1rem 0;
  /* Top-right-bottom-left */
  padding: 0.5rem;
  /* Top right-left bottom */
  /*padding: 0.5rem 0 0;*/
  border: 0.0625rem solid #000;
  border-left: 0;
  border-right: 0;
  /* Top, right, bottom, left */
  border-radius: 0.25rem 0 0 0.25rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header nav {
  display: inline;
  float: right;
  margin-right: 1rem;
}

.header nav ul {
  list-style-type: none;
  display: inline;
}

.header nav ul li {
  display: inline;
  margin-right: 0.5rem;
}

.header nav ul li:last-of-type {
  margin-right: 1rem;
}

.action-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* Styling hover events */
.action-link:hover {
  color: #000;
  background-color: #fff;
}

.footer {
  /* this is for sticky footer */
  top: unset;
  bottom: 0;
}
