/* Styling all p elements with class="para-in-odd",
  within the id*/
#section-one p.para-in-odd {
  color: green;
}

/* Styling all elements with class="para-highlighted",
  as well as with class="para-in-odd" */
#section-one .para-in-odd.para-highlighted {
  background-color: yellow;
}

/* Styling all elements with class="para-highlighted",
  as well as with class="para-in-even" */
#section-one .para-even.para-highlighted {
  background-color: grey;
}

#section-one p:nth-of-type(even) {
  color: red;
}

/* To explicitly begin with */
/*#section-one p[class^="para-"] {
  font-weight: bold;
}*/

/* To include */
#section-one p[class*="-even"] {
  font-weight: bold;
}

/* To explicitly end with */
/*#section-one p[class$="-even"] {
  font-weight: bold;
}*/

/* Select all span tags within the id,
  regardless of their heirarchy */
#section-one span {
  text-decoration: underline;
}

/* Select span tags which come after the first span tag,
  regardless of their heirarchy */
#section-one span + span {
  background-color: blue;
}

/* Select span tags which are direct children of parent */
#section-one > span {
  text-transform: capitalize;
}

/* Select span tags which come after the first span tag,
  which is the direct children of parent */
#section-one > span + span {
  background-color: green;
}

/* Select div tags which come after the first span tag,
  which is the direct children of parent */
#section-one > span + div {
  background-color: red;
}

#section-one .universal-list ul li:hover {
  background-color: #000;
  color: #fff;
}
